*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.slider-wrapper .image-list{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.slider-wrapper .image-list .image-item{
    width: 325px;
    height: 400px;
    object-fit: cover;
}
